/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #fff;
}

.input-container label {
  margin-right: 10px;
  font-size: 18px;
}

input[type='number'] {
  width: 50px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.password-box {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button styles */
.generate-btn {
  background-color: #28a745;
  color: white;
}

.generate-btn:hover {
  background-color: #218838;
}

.copy-btn {
  background-color: #007bff;
  color: white;
}

.copy-btn:hover {
  background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
  .password-box {
    width: 250px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }
}
